<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928474979933-mcvusdkesul7h6ln5un2kfeevphl37jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928474979933-mcvusdkesul7h6ln5un2kfeevphl37jm</string>
	<key>API_KEY</key>
	<string>AIzaSyD6MXzPwCrH-JmB1OZHFparA4MOiTtD7uY</string>
	<key>GCM_SENDER_ID</key>
	<string>928474979933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.own.MySocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>mysocialnetwork-78a20</string>
	<key>STORAGE_BUCKET</key>
	<string>mysocialnetwork-78a20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928474979933:ios:70eb633d1eed094d7e77b4</string>
</dict>
</plist>